/*!
 * .g-全局样式
 * .p-私有样式
 * .e-元素样式
 * .m-模块样式
 */

@import './variable.less';

.t-validate {
    &-error {
        border-color: red;
    }

    &-message {
        &:before {
            content: '*';
        }

        font-size: 12px;
        color: red;
        margin-top: 10px;
    }
}