/*!
 * .g-全局样式
 * .p-私有样式
 * .e-元素样式
 * .m-模块样式
 */

@import './variable.less';

.t-validate {
    &-error {
        border-color: red;
    }

    &-message {
        &:before {
            content: '*';
        }

        font-size: 12px;
        color: red;
        margin-top: 10px;
    }
}

.el-popper {
    &.is-light {
        border: 0;
    }

    .el-menu--vertical {
        .el-menu {
            background-color: var(--sidebar-background);

            &--popup {
                padding: 10px 0;
            }

            &-item {
                height: 48px;
                line-height: 48px;
                color: #fff;

                &:hover {
                    background-color: var(--sidebar-menu-item-hover);
                }

                &.is-active {
                    background-color: var(--sidebar-menu-item-active);
                }
            }
        }
    }
}