@import './variable.less';

[class*='cat-image-'] {
    position: relative;
    object-fit: cover;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("~@/assets/avatar.jpg") no-repeat center;
        background-size: cover;
    }
}

.t-validate {
    &-error {
        border-color: red;
    }

    &-message {
        &:before {
            content: '*';
        }

        font-size: 12px;
        color: red;
        margin-top: 10px;
    }
}

.el-popper {
    &.is-light {
        border: 0;
    }

    .el-menu--vertical {
        .el-menu {
            background-color: var(--sidebar-background);

            &--popup {
                padding: 10px 0;
            }

            &-item {
                height: 48px;
                line-height: 48px;
                color: #fff;

                &:hover {
                    background-color: var(--sidebar-menu-item-hover);
                }

                &.is-active {
                    background-color: var(--sidebar-menu-item-active);
                }
            }
        }
    }
}
