:root {
    /* 字体大小规范 */
    --font-x-large: 18px;
    --font-large: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-x-small: 10px;
    /* 颜色规范 */
    --color-default: #384048;
    --color-primary: #409EFF;
    --color-secondary: #04c786;
    --color-info: #999;
    --color-border: #eee;
    /* 间距规范 */
    --space-medium: 20px;
    /* 状态栏 */
    --statusbar-height: 56px;
    /* 侧边栏 */
    --sidebar-width: 200px;
    --sidebar-background: #313b46;
    --sidebar-header-height: 56px;
    --sidebar-header-border: 1px solid #3f4a56;
    --sidebar-menu-inline: #262b31;
    --sidebar-menu-item: #b6bec6;
    --sidebar-menu-item-hover: #3f4a56;
    --sidebar-menu-item-active: #278eff;
}
