:root {
    // µÇÂ¼±³¾°Í¼Æ¬
    --login-pc-image: url("~@/assets/login-mobile.jpg");
    --login-mobile-image: url("~@/assets/login-mobile.jpg");
    /* ×ÖÌå´óÐ¡¹æ·¶ */
    --font-x-large: 18px;
    --font-large: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-x-small: 10px;
    /* ÑÕÉ«¹æ·¶ */
    --color-default: #384048;
    --color-primary: #409EFF;
    --color-secondary: #04c786;
    --color-info: #999;
    --color-border: #eee;
    /* ¼ä¾à¹æ·¶ */
    --space-medium: 20px;
    /* ×´Ì¬À¸ */
    --statusbar-height: 56px;
    /* ±êÇ©À¸ */
    --tabbar-active: #313b46;
    --tabbar-hover: #eee;
    --tabbar-close-hover: red;
    /* ²à±ßÀ¸ */
    --sidebar-width: 220px;
    --sidebar-background: #313b46;
    --sidebar-header-height: 56px;
    --sidebar-header-border: 1px solid #3f4a56;
    --sidebar-menu-inline: #262b31;
    --sidebar-menu-item: #b6bec6;
    --sidebar-menu-item-hover: #3f4a56;
    --sidebar-menu-item-active: #278eff;
}
