.cat-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--statusbar-height);
    color: #525b65;
    padding: 0 20px;

    &__left {
        display: flex;
        align-items: center;

        .el-breadcrumb__inner {
            color: inherit !important;

            [class^=el-icon-] {
                margin-right: 5px;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        .iconbar {
            display: flex;
            align-items: center;

            [class^='cat-icon-']:before {
                font-size: 18px;
            }

            > * {
                margin-right: 20px;
            }
        }

        .user-dropdown {
            &__link {
                display: flex;
                align-items: center;
                font-weight: bold;
                cursor: pointer;
            }

            .cat-image--avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                font-size: 0;
                margin-right: 4px;
            }
        }
    }
}
