.home-index {
    padding: 20px;

    .chart {
        height: 280px !important;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
    }

    .el-col:not(:last-child){
        margin-bottom:20px;
    }
}
